.hypothesis/
.vscode/extensions.json

# Ignore node_modules directory
node_modules/

# Jupyter Notebook
_build/

# Python
*.py[cod]
__pycache__/
dist/
.tox/
*.egg-info/
*.egg
pytest_cache/
pytest.xml
.mypy_cache/

# Coverage
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
htmlcov/
pytest-coverage.*

# TeX
**/tex/**/output/
**/tex/**/*.aux
**/tex/**/*.log
**/tex/**/*.pdf

# Temporary files
.tmp
tmp
logs/

# Book
book/lectures/softeng/vcs/somefile.md
book/lectures/softeng/vcs/learning_git
book/lectures/softeng/vcs/drive
