.iframe-box {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 35px;
  position: relative;
  position: relative;
  width: 100%;
}

.iframe-box iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.iframe-box-slideshare {
  padding-bottom: 75.5%; /* derived experimentally */
}
