jupyter-book==1.0.0
docutils==0.17.1
sphinx-inline-tabs
sphinx-examples
sphinx-proof
sphinx-hoverxref
sphinxcontrib-youtube
sphinxcontrib-video
sphinx-thebe
sphinxcontrib-mermaid
sphinx-carousel
# sphinxcontrib-slide
git+https://github.com/TYPO3-Documentation/sphinx-contrib-slide.git
